# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# App specific
*.log
rules_local.json
build/
dist/
*.spec
